<div class="profile-card">
  <div class="avatar-name">
    <img
      src="/assets/images/celeste.jpg"
      alt="avatar"
      class="profile-card__avatar"
    />
    <div class="profile-card__name">
      <strong class="h6">Райан Гослинг</strong>
      <span class="subtitle">Rayan</span>
    </div>
  </div>

  <div class="profile-card__description">
    Сидел в траве кузнечик, совсем как огуречик, сидел в траве кузнечик,
    зелененький он был!
  </div>
  <div class="profile-card__tags">
    <div class="skill-tag">Angular</div>
    <div class="skill-tag">C#</div>
    <div class="skill-tag">GIT</div>
  </div>
  <div class="profile-card__action-btn">
    <button class="btn">Click</button>
  </div>
</div>
